:root {
  --ifm-background-color: #282c34;
  --ifm-color-primary: #00ad9f;
  /* --ifm-color-primary: #09d3ac; */
  --ifm-color-primary-dark: rgb(8, 190, 155);
  --ifm-color-primary-darker: rgb(8, 179, 146);
  --ifm-color-primary-darkest: rgb(6, 148, 120);
  --ifm-color-primary-light: rgb(46, 218, 184);
  --ifm-color-primary-lighter: rgb(83, 224, 197);
  --ifm-color-primary-lightest: rgb(132, 233, 214);
  --ifm-button-transition-duration: 0.2s;
  --ifm-border-radius: 4px;
}

body {
  background-color: var(--ifm-background-color);
  color: var(--ifm-color-primary);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  font-size: 2rem;
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
  padding: 0;
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: var(--ifm-color-primary);
}

a:hover {
  color: var(--ifm-color-primary-darkest);
}

.App {
  padding: 2rem;
  background-color:var(--ifm-background-color);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

@media screen and (min-width: 480px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 720px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1080px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1800px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.button {
  display: flex;
  justify-content: center;
  width: 120px;
  background-color: var(--ifm-color-primary);
  border-radius: var(--ifm-border-radius);
  color: var(--ifm-background-color);
  font-size: 17px;
  cursor: pointer;
  padding: 8.1px 32.4px;
  margin: 10px 0px;
  line-height: 1.5;
  font-weight: 500;
  text-decoration: none;
  transition: color var(--ifm-button-transition-duration)
      cubic-bezier(0.08, 0.52, 0.52, 1),
    background-color var(--ifm-button-transition-duration)
      cubic-bezier(0.08, 0.52, 0.52, 1),
    border-color var(--ifm-button-transition-duration)
      cubic-bezier(0.08, 0.52, 0.52, 1);
}

.button:hover {
  background-color: var(--ifm-color-primary-light);
  color: white;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 1px solid slategrey;
  border-radius: var(--ifm-border-radius);
  color: var(--ifm-color-primary);
  height: 300px;
}

.box-card-container {
  display: flex;
  cursor: pointer;
}

.box-card {
  padding: 20px;
  border-radius: 2px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: 0.1s ease-out;
  position: relative;
  border: solid 1px #f5f8f9;
  color: #838282;
}

.box-card:hover {
  transform: scale(1.05);
  transition: 0.1s ease-out;
}

.box-card-link {
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 5px;
  font-size: 18px;
}

.box-card a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.box-card-text {
  font-size: 14px;
  margin-bottom: 20px;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.box-card-tag {
  font-size: 12px;
}
