:root {
  --ifm-background-color: #f5f8f9;
  --ifm-background-color-dark: #282c34;
  --ifm-color-primary: #00ad9f;
  /* --ifm-color-primary: #09d3ac; */
  --ifm-color-primary-dark: rgb(8, 190, 155);
  --ifm-color-primary-darker: rgb(8, 179, 146);
  --ifm-color-primary-darkest: rgb(6, 148, 120);
  --ifm-color-primary-light: rgb(46, 218, 184);
  --ifm-color-primary-lighter: rgb(83, 224, 197);
  --ifm-color-primary-lightest: rgb(132, 233, 214);
  --ifm-button-transition-duration: 0.2s;
  --ifm-border-radius: 4px;
}

body {
  background-color: var(--ifm-background-color);
  color: var(--ifm-color-primary);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 2px 1px hsla(0, 0%, 66.7%, 0.25);
  background-color: var(--ifm-background-color);
  border: 1px solid var(--ifm-color-primary);
  border-radius: var(--ifm-border-radius);
  color: var(--ifm-color-primary);
  font-size: 17px;
  line-height: 1.5;
  padding: 10px;
  margin: 10px 0px;
}

input:hover {
  border-color: var(--ifm-color-primary-dark);
}

input:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: var(--ifm-color-primary-light);
  outline: var(--ifm-color-primary-dark);
}

input:focus {
  border: 1px solid #555;
  /* border-color: var(--ifm-color-primary-darkest); */
  /* background-color: var(--ifm-color-primary-dark); */
}

ul {
  list-style: none;
  padding: 0;
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: var(--ifm-color-primary);
}

a:hover {
  color: var(--ifm-color-primary-darkest);
}

.sidenav {
  padding: 0px 20px;
  margin: 10px 20px;
  width: 10%;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.7;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wrapper {
  max-width: 400px;
  margin: 20px 0px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  display: -webkit-box;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: -10px;
}

.button {
  background-color: var(--ifm-color-primary);
  box-shadow: 0 2px 1px hsla(0, 0%, 66.7%, 0.25);
  border-radius: var(--ifm-border-radius);
  color: var(--ifm-background-color);
  font-size: 17px;
  cursor: pointer;
  padding: 8.1px 32.4px;
  margin: 10px 0px;
  line-height: 1.5;
  font-weight: 500;
  text-decoration: none;
  transition: color var(--ifm-button-transition-duration)
      cubic-bezier(0.08, 0.52, 0.52, 1),
    background-color var(--ifm-button-transition-duration)
      cubic-bezier(0.08, 0.52, 0.52, 1),
    border-color var(--ifm-button-transition-duration)
      cubic-bezier(0.08, 0.52, 0.52, 1);
}

.button:hover {
  background-color: var(--ifm-color-primary-light);
  color: white;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 1px solid var(--ifm-color-primary);
  border-radius: var(--ifm-border-radius);
  color: var(--ifm-color-primary);
  height: 300px;
  margin-bottom: 40px;
}

.box-link {
  display: block;
  background-color: white;
  box-shadow: 0 2px 1px hsla(0, 0%, 66.7%, 0.25);
  /* border: 1px solid var(--ifm-color-primary); */
  border-radius: var(--ifm-border-radius);
  color: var(--ifm-color-primary);
  width: 32%;
  margin: 10px;
  cursor: pointer;
  transition: color var(--ifm-button-transition-duration)
      cubic-bezier(0.08, 0.52, 0.52, 1),
    background-color var(--ifm-button-transition-duration)
      cubic-bezier(0.08, 0.52, 0.52, 1),
    border-color var(--ifm-button-transition-duration)
      cubic-bezier(0.08, 0.52, 0.52, 1);
}

.box-link:hover {
  background-color: var(--ifm-color-primary);
  -webkit-box-shadow: 0 2px 1px hsla(0, 0%, 66.7%, 0.45);
  box-shadow: 0 2px 1px hsla(0, 0%, 66.7%, 0.45);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-transition: 0.08s ease-out;
  transition: 0.08s ease-out;
}

.box-link:hover a {
  color: white;
}
